$main-color:#9B51E0;
$text-gray:#828282;
$text-black:#333333;
$process-color:#eb5757;
$background-gray:#f2f2f2;
$solve-color:#424242;
$background-black:#333333;
$off-white: #f8f8f8;
$codecolor:#8D51E1;
$button-radius:5px;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;
$lg-breakpoint: 1024px;
$md-breakpoint: 768px;
$sm-breakpoint: 641px;
$xs-breakpoint: 480px;
$shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);